:root {
    --gradient-form: -webkit-linear-gradient(-70deg, #9d9ff8, #2160a8);
    --background-color: #040d21;
}
@media screen and (max-width: 600px) {
    .container-sign-in {
        height: 100vh;
        padding-top: 30%;
    }

    .container-sign-up {
        height: 100vh;
        margin-bottom: 10px;
    }
}

h1{
    background: var(--gradient-form);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.body-form {
    height: 100vh;
    overflow: hidden;
}

.btn-form {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background: #c90202;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #00aeef;
}

@media screen and (min-width: 1024px) {
    .container-sign-in {
        height: 100vh;
        padding: 10%;
    }

    .container-sign-up {
        padding: 5% 20% 0 20%;
        height: 100vh;
    }

    .container-sign-in h1,
    .container-sign-up h1 {
        text-align: center;
    }
}
