.text-change-container {
    height: 50px;
    margin-top: 20px;
    margin-left: -15px;
}

.text-change {
    font-family: "Goldman", monospace;
    font-weight: normal;
    font-size: larger;
    color: #c8c8c8;
    filter: drop-shadow(0 0 0.3em rgba(200, 200, 200, 0.3));
}
.dud {
    color: rgba(200, 30, 30, 0.8);
    filter: drop-shadow(0 0 0.5em #f00);
}
