@font-face {
    font-family: Condensed;
    src: url(../assets/font/Roboto-Condensed.ttf);
}

@font-face {
    font-family: Goldman;
    src: url(../assets/font/Goldman-Bold.ttf);
}

:root {
    --gradient: -webkit-linear-gradient(-70deg, #9d9ff8, #2160a8);
    --background-color: #040d21;
}

html {
    scroll-behavior: smooth;
    font-display: optional;
}

body {
    font-family: Condensed,;
}

.gradient {
    background: #c90202;
    background: var(--gradient);
}

.goldman {
    font-family: Goldman, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bottom-navigation {
    position: fixed;
    bottom: 0;
    display: flex;
    overflow-x: auto;
    height: 65px;
    z-index: 999;
    background-color: var(--background-color);
}

.bottom-navigation .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    text-decoration: none;
}

.bottom-navigation .nav-icon {
    font-size: 18px;
    line-height: 35px;
}

.bottom-navigation .nav-text {
    margin-top: -20px;
}

.top-navigation {
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: none;
    background-color: var(--background-color);
}

@media screen and (min-width:993px) {
    .bottom-navigation {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .top-navigation {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .banner {
        height: 100vh;
    }

    footer {
        display: none;
    }

    .container {
        margin-bottom: 60px;
    }
}

.text-change-container {
    padding-left: 20px;
}


.banner {
    background-color: var(--background-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20% 0;
}

.stad {
    -webkit-text-fill-color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3rem;
    font-weight: 800;
}

.cta {
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.radius {
    border-radius: 20px;
}

.mission {
    padding: 10px;
    color: white;
}

.btn-second {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.guide-header {
    color: white;
}

#footerNav li a {
    color: white;
}

@media screen and (max-width:600px) {
    .picture-container .row {
        padding: 2% 0;
    }
}

.picture-container {
    padding-top: 10%;
    background-color: var(--background-color);
}

@media screen and (min-width:1200px) {
    .nav-content {
        margin: 60px 0 0 0;
    }
}

.not-found-banner {
    padding-top: 10vh;
    height: 100vh;
    overflow: hidden;
}

.white-text {
    color: white;
}