<a href="#home" class="nav-link active" id="btnHomeBottom">
    <i class="material-icons nav-icon">home</i>
    <span class="nav-text">Beranda</span>
</a>
<a href="#missions" class="nav-link" id="btnMissionsBottom">
    <i class="material-icons nav-icon">task</i>
    <span class="nav-text">Misi</span>
</a>
<a href="#profile" class="nav-link" id="btnProfileBottom">
    <i class="material-icons nav-icon">person</i>
    <span class="nav-text">Akun</span>
</a>
<a href="" class="nav-link" id="btnMobileLogout">
    <i class="material-icons nav-icon">logout</i>
    <span class="nav-text">Keluar</span>
</a>
<!-- <btn class="btn waves-effect btn-second gradient radius" id="btnMobileLogout">Logout</btn> -->
